@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "components/header.scss";
@import "components/menu-aside.scss";
@import "components/comments-post.scss";
@import "components/inbox.scss";
@import "components/box-conversa.scss";
@import "components/form-post.scss";
@import "components/posts-list.scss";
@import "components/login.scss";

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
}

button, select {
    background-color: transparent;
    border: none;
}

.hide {
    display: none;
}

%center-height {
    display: flex;
    align-content: center;
}

// React CSS Transform
.box-appear {
    opacity: 0.01;
    transform: translateY(20px);
}

.box-appear.box-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: all .3s ease-in;
}

.box-enter {
    opacity: 0.01;
    transform: translateY(20px);
}

.box-enter.box-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all .5s ease-in;
}

.box-leave {
    opacity: 1;
}

.box-leave.box-leave-active {
    opacity: 0;
    transform: translateY(20px);
    transition: all .3s ease-in;
}

.verticalList {
    width: 49%;
    height: 20rem;
    overflow-y: scroll;
    transition: all .3s linear;
    &::-webkit-scrollbar {
        width: 1px;
        opacity: 0;
        background-color: #AAA;
    }
    &::-webkit-scrollbar-thumb {
        background: #555;
        opacity: 0;
        //width: 5px;
    }
    &:hover {
        &::-webkit-scrollbar {
            opacity: 1;    
        }
        &::-webkit-scrollbar-thumb {
            opacity: 1;    
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
    }
}

.commom-list {
    &__item {
        display: flex;
        align-content: center;
        margin-bottom: .5rem;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        img {
            height: 30px;
            border-radius: 50%;
            margin-right: .5rem;
        }
    }
}

.main-content {
    padding-left: .5rem;
    width: calc(100% - 150px);
    &__divContent {
        display: flex;
        justify-content: space-between;
    }
    &__posts {
        margin-top: 3rem;
        overflow-x: hidden;
    }
    &__notification {
        margin-right: 2%;
    }
    &__list {
        list-style: none;
        display: flex;
    }
}

%total-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    display: flex;
    background-color: rgba(0,0,0,.8);
    align-items: center;
    justify-content: center;
}

.loading {
    @extend %total-screen;
    &__text {
        font-size: 2rem;
        color: #FFF;
    }
    &__img {
        height: 2rem;
        animation: spin 2s infinite linear;
    }
}

.spinner {
    height: 2rem;
    animation: spin 2s infinite linear;
}

.erro {
    @extend %total-screen;
    &__box {
        background-color: #FFF;
        padding: .5rem;
        width: 35em;
        position: relative;
        border-radius: 10px;
        min-height: 10rem; 
    }
    &__close {
        
    }
    &__x {
        position: absolute;
        top: .5rem;
        right: .5rem;
        background-color: #AAA;
        color: #FFF;
        height: 1.5rem;
        width: 1.5rem;
        text-align: center;
        border-radius: 50%; 
        cursor: pointer;
        &:hover {
            background-color: #BBB;
        }
    }
    &__msg {
        margin-top: .5rem;
        color: red;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}