.box-conversa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
        width: 70%;
        height: 90%;
        background-color: #FFF;
        position: relative;
        padding: 1rem;
        border-radius: 5px;
        box-sizing: border-box;
    }
    &__close {
        height: 1rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        transition: all .5s ease;
        &:hover {
            transform: rotate(45deg);
        }
    }
    &__header {
        display: flex;
    }
    &__foto-perfil {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin-right: .5rem;
    }
    &__mensagens {
        width: 70%;
        height: 80%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 2%;
        overflow-y: hidden;
        display: flex;
        flex-direction: column-reverse;
    }
    &__me {
        align-self: flex-end;
    }
    &__footer {
        display: flex;
        justify-content: center;
    }
    &__input {
        border: none;
        border-bottom: thin solid #000;
        width: 50%;
    }
    &__send {
        height: 1rem;
        margin-left: 1rem;
    }
}