.comments-post {
    margin-top: .5rem;
    list-style: none;
    &__item {
        display: flex;
        margin-top: .5rem;
    }
    &__photo {
        width: 25px;
        img {
            height: 20px;
            border-radius: 50%;
        }
    }
    &__ver {
        font-size: .8rem;
        color: #2980b9;
        display: block;
        cursor: pointer;
        margin-top: .3rem;
        &:hover {
            text-decoration: underline;
        }
    }
}