.formPost {
    &__send {
        display: flex;
        align-items: center;
        background-color: #27ae60;
        border: none;
        color: #FFF;
        width: 10rem;
        border-radius: 5px;
        height: 3rem;
        cursor: pointer;
        align-self: center;
        margin-top: 1rem;
        justify-content: center;
        img {
            height: 1rem;
            margin-left: .5rem;
        }
    }
    &__img {
        max-width: 100%;
    }
    &__label {
        display: block;
    }
    &__input {
        width: 100%;
        height: 3rem;
        border-radius: 5px;
        border: thin solid #AAA;
        margin-bottom: 1rem;
    }
    &__msg {
        width: 100%;
        height: 7rem;
        border-radius: 5px;
    }
    &__photo {
        border: none;
        background-color: #19B5FE;
        color: #FFF;
        width: 10rem;
        border-radius: 5px;
        height: 3rem;
        cursor: pointer;
        align-self: center;
        margin-top: 1rem;
    }
    &__inputFile {
        display: none;
    }
    &__insta {
        margin-top: .5rem;
        display: block;
    }
}