.header {
    display: flex;
    justify-content: flex-end;
    &__userdata {
        @extend %center-height;
        font-size: .9rem;
        font-weight: bold;
        color: #555;
        &:hover + li {
            visibility: visible;
        }
        img {
            height: 25px;
            border-radius: 50%;
            margin-right: .3rem;
        }
    }
    &__info {
        margin-right: .5rem;
        margin-top: .5rem;
        list-style: none;
        position: relative;
    }
    &__userpages {
        position: absolute;
        visibility: hidden;
        z-index: 2;
        cursor: pointer;
        width: 100%;
        padding-top: .5rem; 
        &:hover {
            visibility: visible;
        }
    }
    &__list {
        list-style: none;
        background-color: #FFF;
    }
    &__item {
        @extend %center-height;
        font-size: .8rem;
        img {
            height: 20px;
            margin-right: .3rem;
        }
        &:hover {
            background-color: #DFDFDF;   
        }
        &.selected {
            background-color: #EFEFEF;
            cursor: default;
            &:hover {
                background-color: #EFEFEF; 
            }
        }
    }
}