.container-login {
    background: url(/img/login-bg.jpg) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.login {
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem .5rem;
    border-radius: 5px;
    text-align: center;
    width: 35rem;
    &-logo {
        height: 5rem;
    }
    &-title {
        margin-bottom: 2rem;
    }
    &-txt {
        margin-bottom: .5rem;
    }
    &-facebook {
        margin-top: 2rem;
    }
}