.aside {
    width: 100px;
    display: flex;
    justify-content: center;
    &__list {
        list-style: none;   
    }
    &__link {
        color: #333;
        text-decoration: none;
        font-weight: 600;
        &:hover {
            text-decoration: underline;
        }
    }
}