.post-list {
    display: flex;
    &__nav {
        width: 90%;   
        overflow: hidden;
    }
    &__list {
        width: 100%;   
        transition: all .2s linear;
    }
    &__item {
        width: 25%;
        flex: 0 0 auto;
        box-sizing: border-box;
        padding: .5rem;
        position: relative;
    }
    &__arrow {
        width: 5%;
        cursor: pointer;
        outline: none;
        transition: all .2s linear;
        &:active {
            background-color: #EFEFEF;
        }
        img {
            height: 2rem;
        }
    }
    &__controll {
        margin-top: .5rem;
        display: flex;
        justify-content: space-around;    
    }
    &__icon {
        height: 1.2rem;
    }
    &__input {
        width: 100%;
        border: none;
        border-bottom: thin solid #DDD;
        outline: none;
    }
    &__button {
        cursor: pointer;
    }
    &__pic {
        display: block;
        max-width: 100%;
    }
    &__actions {
        position: absolute;
        top: .5rem;
        right: .5rem;
    }
    &__act {
        height: .8rem;
        cursor: pointer;
        &--marged {
            margin-right: .3rem;
        }
    }
    &__msg {
        word-wrap: break-word;
    }
}